<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
        <h6>About Us</h6>
        <p>KMRSoft offers a wide-range of desired training programs for corporates and graduates using online and classroom training procedures.This program facilitates with online tools to track the learning capabilities, succeed learning process, administer nonstop assessments and provide learning access irrespective of the time and location. We excel at providing convention training solutions and tailor made solutions to your development and maintenance support projects.</p>
    </div>
    <div class="col-md-4">
      <h6>Contact Us</h6>
      +1-9083252273
    </div>
    <div class="col-md-4">
        <h6>Find Us</h6>
      <img alt='IMAGE' [src]="logo"/>
    </div>
  </div>
</div>
