<h4 class="quick-enq">QUICK ENQURIY</h4>
<div>
  <mat-form-field style="width:100%">
    <input matInput placeholder="Enter your name" required>
  </mat-form-field>
</div>
<div>
  <mat-form-field style="width:100%">
    <input matInput placeholder="Enter your email" required>
  </mat-form-field>
</div>
<div>
  <mat-form-field style="width:100%">
    <mat-select placeholder="Country Code:">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-form-field style="width:100%">
    <textarea matInput placeholder="Message"></textarea>
  </mat-form-field>
</div>
<div>
  <mat-form-field style="width:100%">
    <input matInput placeholder="Enter your name" required>
  </mat-form-field>
</div>
<div>
  <a mat-raised-button color="primary" style="width:50%;float:none;display:block;">SEND</a>
</div>