

<div class="col-md-1">

</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 style="text-align: center; font-size: 35px; color: #72706f; font-family: merienda; font-weight: 400; font-style: normal;">
        <span style="color: #808080; font-family: merienda;">Welcome to</span> 
        <span style="color: #0085c3; font-family: merienda;">KMRSoftware Services</span>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <p class="body-2">KMRSoftware Services offers a comprehensive on-demand training program for corporates using online and classroom training methodologies. This program comes with online tools to track learners, manage learning process, administer continuous assessments and provide anytime-anywhere learning access. We are proud to announce the launch of IT consulting services recently. We at KMR provides a comprehensive portfolio of services and solutions that not only solve today’s IT challenges, but also address tomorrow’s business priorities. As a strategic premier application and infrastructure outsourcing services provider, KMR enables our customers to maximize the value of their IT investments, while helping them optimize their IT expenses for sustained business value. This unique engagement approach, coupled with the ability to execute with speed and nimbleness, has ensured that KMR is the partner of choice for hundreds of global corporations, across six continents.</p>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
